/* ===========================
   Base
   =========================== */

body {
  font-family: $mainFont;
  font-size: rem(14px);
  background-color: #fff;
  color: $regular;
  line-height: 1.3;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 40px 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.2em;
  color: $black;
}

h1, h2 {
  font-size: rem(28px);
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 42px;
}

b, strong, th {
  font-weight: bold;
}

p {
  margin: 0 0 20px;

  &:last-child {
    margin-bottom: 0;
  }

}

ul, ol {
  padding-left: 20px;

  li {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  ul, ol {
    padding-left: 20px;
  }

}

a {
  transition: 0.3s;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}

[disabled] {
  cursor: not-allowed !important;
}

.regular-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $yellow;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  font-size: rem(13px);
  line-height: 1.2em;
  font-family: 'Roboto', sans-serif;
}

.accordion {
  max-width: calc(66.66% - 10px);
  border: 1px solid #ececee;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;

  &.opened {

    .accordion__head {

      &:after {
        transform: scaleY(-1);
      }

    }

    .accordion__body {
      max-height: 383px;
    }

  }

  &__head {
    padding: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #fbfbfb;
    }

    &:after {
      content: "";
      position: absolute;
      right: 25px;
      top: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #b7b7b7 transparent transparent transparent;
      transition: 0.3s;
    }

  }

  &__body {
    max-height: 0;
    transition: max-height 0.3s;
    overflow: hidden;
  }

  &__content {
    max-height: 383px;
    overflow: auto;
    border-top: 1px solid #ececee;
    scrollbar-color: #ececee;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 16px;
      background-color: #ececee;
    }

    &::-webkit-scrollbar-track {
      margin-top: 3px;
      margin-bottom: 3px;
      background-color: #ececee;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: #b7b7b7;
    }

    label {
      border-bottom: 2px solid #ececee;

      > span {

        > em {
          justify-content: flex-end;
        }

        img {
          max-height: 35px;
        }

      }

      &:last-child {
        border: none;
      }

    }

  }

}

.news-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 112px;
  padding: 15px 30px;
  background-color: $gray;
  border-radius: 5px;

  &__title {
    padding-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem(14px);
    line-height: lh(14,16);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.53rem;
  }

  &__item {
    margin: 0.53rem;
    text-decoration: none;

    svg {
      display: block;
      width: 42px;
      height: 42px;
    }

    &:hover {
      opacity: 0.8;
    }

  }

}


/* responsive */

@media (max-width: 767px) {

  h1, h2 {
    font-size: rem(24px);
  }

  .accordion {
    max-width: 100%;
  }

  .news-socials {
    display: block;
    min-height: 0;
    padding: 25px 15px 20px;

    &__title {
      margin-bottom: 10px;
      padding-right: 0;
      text-align: center;
    }

    &__list {
      justify-content: center;
    }

  }

}

@media (max-width: 479px) {

  h1, h2 {
    font-size: rem(20px);
  }

  h1 {
    margin-bottom: 25px;
  }

  .accordion__head {
    padding: 20px;
  }

}